body{
    background-image: url(https://t4.ftcdn.net/jpg/02/34/20/03/240_F_234200318_qGqFF2C4sFC1oCYhiKwWFBcbgUVCqO2W.jpg);
    background-size: 100%;

    color: white;
}

h1 {
    color: white;
    text-align: center;
    text-size-adjust: 20px;
}